<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop_Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        h2,a{
            text-align: center;
        }
        .card-body{
          text-align: center;
        }
        a{
            text-decoration: none;
        }
        .p1{
          color: gray;
          text-decoration: line-through;
        }
        .p2{
          color: green;
        }
        h6{
          color: rgb(83, 82, 82);
        }
        h5{
          color: rgb(122, 122, 122);
        }
        .b1{
          color: rgb(122, 1, 1);
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">e_Shop</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="../user_home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="view_cart">Cart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../usr_booking">Bookings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../shp_logout">Log out</a>
              </li>    
            </ul>
          </div>
        </div>
      </nav>
      <div class="container mt-3">
        <div class="row">
            <div class="col-lg-5">
            <img src="{{data.img.url}}" alt="" style="width: 100%;height: 500px;">
            <a href="../add_to_cart/{{data.pk}}" class="btn btn-warning" style="margin-left: 100px; margin-top: 20px;">Add To cart</a>
            <a href="../user_buy/{{data.pk}}" class="btn btn-danger" style="margin-left: 30px; margin-top: 20px;">Buy Now</a>
            </div>
            <div class="col-lg-7 mt-5">
                <h5>Shirts</h5>
                <h3>{{data.name}}</h3>
                <h6>{{data.dis}}</h6>
                <div class="row">
                  <div class="col-lg-1">
                    <h3>{{data.ofr_price}}</h3>
                  </div>
                  <div class="col-lg-1">
                    <p class="p1"><b>{{data.price}}</b></p>
                  </div>
                </div>
                <p class="p2">58,785 ratings and 2,555 reviews</p>
                <br>
                <p><b>Available offers</b></p>
                <p><b class="b1">Bank Offer</b> 5% Unlimited Cashback on Flikart Axs Bank Credit Card</p>
                <p><b class="b1">Bank Offer</b> Flat ₹1,200 off on HFC Bank Credit Card EMI Txns on 6 and 9 months tenure, Min. Txn Value: ₹15,000</p>
                <p><b class="b1">Bank Offer</b>Flat ₹1,500 off on HFC Bank Credit Card EMI Txns on 12 months tenure, Min. Txn Value: ₹15,000</p>
            </div>
        </div>
      </div>
</body>
</html>